$montserrat: 'Montserrat', sans-serif;

$blue50: #E3F2FD;
$blue100: #BBDEFB;
$blue200: #90CAF9;
$blue300: #64B5F6;
$blue400: #42A5F5;
$blue500: #2196F3;

$pinkA200: #FF4081;
$pinkA400: #F50057;
$pinkA700: #C51162;

$amber500: #FFC107;
$amber600: #FFB300;
$amber700: #FFA000;
$amber800: #FF8F00;

$white: #FFFFFF;
$grey50: #FAFAFA;
$grey100: #F5F5F5;
$grey200: #EEEEEE;
$grey300: #E0E0E0;
$grey400: #BDBDBD;
$grey500: #9E9E9E;
$grey600: #757575;
$grey700: #616161;
$grey800: #424242;
$grey900: #212121;